/* Hero Section */

body{
    margin: 0;
    padding: 0;
    color: white;
    font-size: 24px;
}

h1{
    font-size: 48px;
    text-shadow: 1px 5px 10px rgba(50, 134, 101, 0.45),3px 10px 8px rgba(47, 95, 37, 0.62);
}


.hero{
    background-color: #1f2937;
    height: 100vh;
}

.container{
    width: 1400px;
    margin: 0 auto;
}

.logo{
    margin: 0;
    padding: 0px;
    font-size: 24px;
    color: #f9faf8;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav ul{
    display: flex;
    gap: 20px;
    list-style-type: none;
    font-size: 18px;
}

a{
    text-decoration: none;
    color: antiquewhite;
}


.main{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 200px;
    gap: 200px;
}

.main img{
    width: 700px;
    border-radius: 50px;
    box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
}

button{
    padding: 10px 30px;
    border-radius: 10px;
    background-color: #3882f6;
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
    border: none;
}


button:active{
    box-shadow: none;
}

.main-word{
    color: #47d19a;
}

.icon-box{
  width: 50px;
  margin: 100px auto;
}
.icon{
    border: 3px solid  #47d19a;
    border-radius: 1000px;
    padding: 10px;
    text-align: center;
}

/*End Hero Section */

.information{
    height: 100vh;
    background-color: #f0dce6;
    padding-top: 60px;
}

.information h2 {
    color: #1F2937;
    text-align: center;
    margin-top: 0;
    font-size: 65px;
}

.information-content{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 80px;
    color: black;
}

.information-content > * {
    border: 10px solid #20a761;
    background-color: #d2e7ce;
    border-radius: 20px;
    width: 390px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    font-size: 24px;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 60px 40px -7px;;
}

.icon-information{
    font-size: 150px;
    text-align: center;
}

.ol-html{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 5px;
    list-style: none;
    padding: 0;
}